# -----------------------------
# MLflow
# -----------------------------
mlruns/
**/mlruns/
mlflow.db
**/mlflow.db

# -----------------------------
# Models
# -----------------------------
models/
*.pkl
*.xgb
*.skops

# -----------------------------
# Images
# -----------------------------
frontend/assets/Logo.png