# -----------------------------
# MLflow
# -----------------------------
mlruns/
**/mlruns/
mlflow.db
**/mlflow.db

# -----------------------------
# Models
# -----------------------------
models/
*.pkl
*.xgb
*.skops

# -----------------------------
# Images
# -----------------------------
frontend/assets/Logo.png

# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# ML files
*.pt
*.pth
*.bin
# Data files
data/

# HuggingFace datasets cache
*.arrow

# Results
results/

# Notebooks (optional for deployment)
ml/notebooks/